// app global css in SCSS form
@font-face {
  font-family: customfont;
  src: url(./fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

// declare a class which applies it
* {
  font-family: 'customfont';
}
.q-page{
  background-image: url('fondo.jpg'); background-size: cover; background-position: center center;
}
